swagger: "2.0"
info:
  title: Catchphrase Lookup API
  description: Routes language-learning requests to a Cloud Run service with a server-selected LLM backend
  version: "1.0"

host: "translation-api-gateway-2qqw247r.uc.gateway.dev"
schemes:
  - https

x-google-backend:
  address: https://YOUR_CLOUD_RUN_URL
  # The phrasebook pipeline can spend up to 245s across bounded generation,
  # translation, retry, and backoff stages. Keep this above its hard request
  # deadline so the service's own response surfaces instead of an opaque 504.
  # Max permitted is 600.0.
  deadline: 270.0

paths:
  /lookup:
    options:
      summary: CORS preflight
      operationId: lookupOptions
      parameters: []
      responses:
        204:
          description: CORS preflight response
    post:
      summary: Look up a term and return translation blocks with related groups
      operationId: lookup
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          required: true
          schema:
            type: object
            required:
              - term
              - language
            properties:
              term:
                type: string
                description: >
                  The word or phrase to translate. May carry a parenthetical for context,
                  e.g. "surf (v. to ride a wave)". Max 200 characters.
              language:
                type: string
                description: Target language
                enum:
                  - zh
                  - ja
                  - es
                  - cs
              ability:
                type: string
                description: Learner ability, limits output difficulty (default "beginner")
                enum:
                  - none
                  - beginner
                  - intermediate
                  - advanced
              formality:
                type: string
                description: Register to anchor the output (default "polite")
                enum:
                  - casual
                  - polite
                  - formal
              audience:
                type: string
                description: Who the learner is speaking to (default "staff")
                enum:
                  - stranger
                  - staff
                  - acquaintance
                  - family
      responses:
        200:
          description: Successful lookup
          schema:
            type: object
            properties:
              blocks:
                type: array
                description: At most 4 blocks, one per distinct meaning of `term`
                items:
                  type: object
                  properties:
                    card:
                      $ref: '#/definitions/Card'
                    groups:
                      type: array
                      description: At most 8 groups total across all blocks
                      items:
                        type: object
                        properties:
                          title:
                            type: string
                            description: English heading, e.g. "Ordering at a restaurant"
                          cards:
                            type: array
                            description: At most 15 cards per group
                            items:
                              $ref: '#/definitions/Card'
        400:
          description: Bad request (missing/invalid field or client-selected llm)
        502:
          description: LLM request failed or returned an invalid response
  /textbook:
    options:
      summary: CORS preflight
      operationId: textbookOptions
      parameters: []
      responses:
        204:
          description: CORS preflight response
    post:
      summary: >
        Generate a guided phrasebook. One route, two call modes selected by the
        presence of `context`: absent -> questions + checklist; present ->
        bulk-generate groups of cards.
      operationId: textbook
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          required: true
          schema:
            type: object
            required:
              - topic
              - language
            properties:
              topic:
                type: string
                description: The situation/topic to build a phrasebook for. Max 200 characters.
              language:
                type: string
                description: Target language
                enum:
                  - zh
                  - ja
                  - es
                  - cs
              ability:
                type: string
                description: Learner ability, limits output difficulty (default "beginner")
                enum:
                  - none
                  - beginner
                  - intermediate
                  - advanced
              context:
                type: object
                description: >
                  Answers to the questions from the first call. Presence switches
                  this request to bulk-generate mode; absence returns questions.
      responses:
        200:
          description: >
            Questions mode returns { questions, checklist }; generate mode
            returns { title?, groups }.
          schema:
            type: object
            properties:
              questions:
                type: array
                description: Questions mode only
                items:
                  type: object
                  properties:
                    label:
                      type: string
                    options:
                      type: array
                      items:
                        type: string
                    default:
                      type: string
              checklist:
                type: array
                description: Questions mode only
                items:
                  type: object
                  properties:
                    label:
                      type: string
                    checked:
                      type: boolean
              title:
                type: string
                description: Generate mode only — optional phrasebook title
              groups:
                type: array
                description: Generate mode only
                items:
                  type: object
                  properties:
                    title:
                      type: string
                    cards:
                      type: array
                      items:
                        $ref: '#/definitions/Card'
        400:
          description: Bad request (missing/invalid field or client-selected llm)
        502:
          description: LLM request failed or returned an invalid response

  /context:
    options:
      summary: CORS preflight
      operationId: contextOptions
      parameters: []
      responses:
        204:
          description: CORS preflight response
    post:
      summary: Generate clarifying questions and a topic checklist
      operationId: context
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          required: true
          schema:
            type: object
            required:
              - seed
              - language
            properties:
              seed:
                type: string
                maxLength: 200
                description: Situation, activity, or topic. Max 200 characters.
              language:
                type: string
                enum: [zh, ja, es, cs]
      responses:
        200:
          description: Clarifying questions, checklist, and model usage
          schema:
            type: object
            properties:
              questions:
                type: array
                items:
                  type: object
                  properties:
                    label:
                      type: string
                    options:
                      type: array
                      items:
                        type: string
              checklist:
                type: array
                items:
                  type: object
                  properties:
                    label:
                      type: string
                    checked:
                      type: boolean
              usage:
                type: object
        400:
          description: Bad request (missing/invalid field or client-selected llm)
        502:
          description: LLM request failed or returned an invalid response
  /phrasebook:
    options:
      summary: CORS preflight
      operationId: phrasebookOptions
      parameters: []
      responses:
        204:
          description: CORS preflight response
    post:
      summary: Generate a bespoke phrasebook from selected context
      operationId: phrasebook
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          required: true
          schema:
            type: object
            required:
              - seed
              - language
              - ability
              - answers
              - checklist
            properties:
              seed:
                type: string
                maxLength: 200
                description: Situation, activity, or topic. Max 200 characters.
              language:
                type: string
                enum: [zh, ja, es, cs]
              ability:
                type: string
                enum: [none, basics, conversational]
              answers:
                type: object
                maxProperties: 5
                additionalProperties:
                  type: string
                  maxLength: 500
              checklist:
                type: array
                minItems: 1
                maxItems: 8
                items:
                  type: string
                  maxLength: 120
      responses:
        200:
          description: Phrasebook title, conversation groups, vocabulary group, and model usage
          schema:
            type: object
            properties:
              title:
                type: string
              groups:
                type: array
                items:
                  type: object
                  properties:
                    title:
                      type: string
                    cards:
                      type: array
                      items:
                        $ref: '#/definitions/Card'
              usage:
                type: object
        400:
          description: Bad request (missing/invalid field or client-selected llm)
        502:
          description: LLM request failed or returned an invalid response

definitions:
  Card:
    type: object
    required:
      - lang
      - text
      - translation
    properties:
      lang:
        type: string
        enum: [zh, ja, es, cs]
      type:
        type: string
        enum: [word, phrase, sentence]
      text:
        type: string
        description: Word or phrase in the target language
      reading:
        type: array
        description: ReadingToken[] — [base, annotation|null] pairs (docs/CARD_SCHEMA.md)
        items:
          type: array
          items: {}
      romanization:
        type: string
      translation:
        type: string
        description: English translation
      definition:
        type: string
        description: The word's meaning; present only when disambiguation is needed
      formality:
        type: string
        enum: [casual, polite, formal, slang]
      context:
        type: string
        description: The parenthetical term context, or the parent group's title
      notes:
        type: string
      example:
        type: object
        properties:
          text:
            type: string
          reading:
            type: array
            items:
              type: array
              items: {}
          translation:
            type: string
