swagger: "2.0"
info:
  title: Catchphrase API
  description: Routes language-learning requests to a Cloud Run service with a server-selected LLM backend
  version: "1.0"

host: "translation-api-gateway-2qqw247r.uc.gateway.dev"
schemes:
  - https

x-google-backend:
  address: https://YOUR_CLOUD_RUN_URL
  # The phrasebook pipeline can spend up to 245s across bounded generation,
  # translation, retry, and backoff stages. Keep this above its hard request
  # deadline so the service's own response surfaces instead of an opaque 504.
  # Max permitted is 600.0.
  deadline: 270.0

paths:
  /phrasebook-title:
    options:
      summary: CORS preflight
      operationId: phrasebookTitleOptions
      responses:
        204:
          description: CORS preflight response
    post:
      summary: Distill a seed into a short English phrasebook title
      operationId: phrasebookTitle
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          required: true
          schema:
            type: object
            required: [seed]
            properties:
              seed:
                type: string
                maxLength: 200
      responses:
        200:
          description: English phrasebook title and model usage
          schema:
            type: object
            required: [title, usage]
            properties:
              title:
                type: string
                maxLength: 80
              usage:
                type: object
        400:
          description: Bad request (missing/invalid field or client-selected llm)
        502:
          description: LLM request failed or returned an invalid response
  /phrase-breakdown:
    options:
      summary: CORS preflight
      operationId: phraseBreakdownOptions
      parameters: []
      responses:
        204:
          description: CORS preflight response
    post:
      summary: Explain a target-language utterance in contextual semantic chunks
      operationId: phraseBreakdown
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          required: true
          schema:
            type: object
            required: [language, text, translation]
            properties:
              language:
                type: string
                enum: [zh, ja, es, cs]
              text:
                type: string
                minLength: 1
                maxLength: 2000
              translation:
                type: string
                minLength: 1
                maxLength: 2000
              context:
                type: string
                maxLength: 500
      responses:
        200:
          description: Ordered source spans with contextual explanations, an optional reusable pattern, and model usage
          schema:
            type: object
            required: [chunks, usage]
            properties:
              chunks:
                type: array
                minItems: 1
                maxItems: 32
                items:
                  type: object
                  required: [start, end, text, gloss, role, explanation]
                  properties:
                    start:
                      type: integer
                      minimum: 0
                      description: Inclusive JavaScript UTF-16 offset in the request text
                    end:
                      type: integer
                      minimum: 1
                      description: Exclusive JavaScript UTF-16 offset in the request text
                    text:
                      type: string
                    gloss:
                      type: string
                      maxLength: 500
                    role:
                      type: string
                      maxLength: 200
                    explanation:
                      type: string
                      maxLength: 1000
              pattern:
                type: object
                required: [formula, explanation]
                properties:
                  formula:
                    type: string
                    maxLength: 500
                  explanation:
                    type: string
                    maxLength: 1000
                  noteTitle:
                    type: string
                    maxLength: 200
                  note:
                    type: string
                    maxLength: 1000
                  example:
                    type: string
                    maxLength: 2000
                  exampleTranslation:
                    type: string
                    maxLength: 2000
              usage:
                type: object
        400:
          description: Bad request (missing/invalid field or client-selected llm)
        502:
          description: LLM request failed or returned an invalid response
  /context:
    options:
      summary: CORS preflight
      operationId: contextOptions
      parameters: []
      responses:
        204:
          description: CORS preflight response
    post:
      summary: Generate clarifying questions and a topic checklist
      operationId: context
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          required: true
          schema:
            type: object
            required:
              - seed
              - language
            properties:
              seed:
                type: string
                maxLength: 200
                description: Situation, activity, or topic. Max 200 characters.
              language:
                type: string
                enum: [zh, ja, es, cs]
      responses:
        200:
          description: Clarifying questions, checklist, and model usage
          schema:
            type: object
            properties:
              questions:
                type: array
                items:
                  type: object
                  properties:
                    label:
                      type: string
                    options:
                      type: array
                      items:
                        type: string
              checklist:
                type: array
                items:
                  type: object
                  properties:
                    label:
                      type: string
                    checked:
                      type: boolean
              usage:
                type: object
        400:
          description: Bad request (missing/invalid field or client-selected llm)
        502:
          description: LLM request failed or returned an invalid response
  /phrasebook:
    options:
      summary: CORS preflight
      operationId: phrasebookOptions
      parameters: []
      responses:
        204:
          description: CORS preflight response
    post:
      summary: Generate a bespoke phrasebook from selected context
      operationId: phrasebook
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          required: true
          schema:
            type: object
            required:
              - seed
              - language
              - ability
              - answers
              - checklist
            properties:
              seed:
                type: string
                maxLength: 200
                description: Situation, activity, or topic. Max 200 characters.
              language:
                type: string
                enum: [zh, ja, es, cs]
              ability:
                type: string
                enum: [none, basics, conversational]
              answers:
                type: object
                maxProperties: 5
                additionalProperties:
                  type: string
                  maxLength: 500
              checklist:
                type: array
                minItems: 1
                maxItems: 8
                items:
                  type: string
                  maxLength: 120
      responses:
        200:
          description: Phrasebook title, conversation groups with per-conversation vocabulary, and model usage
          schema:
            type: object
            required:
              - title
              - groups
              - usage
            properties:
              title:
                type: string
              groups:
                type: array
                items:
                  type: object
                  required:
                    - title
                    - cards
                    - vocab
                  properties:
                    title:
                      type: string
                    cards:
                      type: array
                      items:
                        $ref: '#/definitions/Card'
                    vocab:
                      type: array
                      description: Fully normalized word cards for this conversation
                      items:
                        $ref: '#/definitions/Card'
              usage:
                type: object
        400:
          description: Bad request (missing/invalid field or client-selected llm)
        502:
          description: LLM request failed or returned an invalid response

definitions:
  Card:
    type: object
    required:
      - lang
      - text
      - translation
    properties:
      lang:
        type: string
        enum: [zh, ja, es, cs]
      type:
        type: string
        enum: [word, phrase, sentence]
      text:
        type: string
        description: Word or phrase in the target language
      reading:
        type: array
        description: ReadingToken[] — [base, annotation|null] pairs (docs/CARD_SCHEMA.md)
        items:
          type: array
          items: {}
      romanization:
        type: string
      translation:
        type: string
        description: English translation
      definition:
        type: string
        description: The word's meaning; present only when disambiguation is needed
      formality:
        type: string
        enum: [casual, polite, formal, slang]
      context:
        type: string
        description: The parent conversation or vocabulary group's title
      notes:
        type: string
      example:
        type: object
        properties:
          text:
            type: string
          reading:
            type: array
            items:
              type: array
              items: {}
          translation:
            type: string
